In [8]:
#!jupyter nbextension enable --py gmaps
#!jupyter nbextension enable --py widgetsnbextension
#%matplotlib inline

In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-04-18 04:15:16,-9.8000,-139.0333,79.45,80,14,17.90
1,1,Dingle,PH,2022-04-18 04:18:38,10.9995,122.6711,86.65,62,46,13.47
2,2,Cape Town,ZA,2022-04-18 04:14:33,-33.9258,18.4232,59.92,83,92,11.99
3,3,Rikitea,PF,2022-04-18 04:18:38,-23.1203,-134.9692,78.46,63,3,8.70
4,4,Yarkovo,RU,2022-04-18 04:18:39,57.4028,67.0786,39.33,61,62,2.80

In [11]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-04-18 04:15:16,-9.8000,-139.0333,79.45,80,14,17.90
1,1,Dingle,PH,2022-04-18 04:18:38,10.9995,122.6711,86.65,62,46,13.47
3,3,Rikitea,PF,2022-04-18 04:18:38,-23.1203,-134.9692,78.46,63,3,8.70
7,7,Butaritari,KI,2022-04-18 04:18:40,3.0707,172.7902,81.75,72,23,11.81
8,8,Umm Lajj,SA,2022-04-18 04:18:40,25.0213,37.2685,85.30,20,56,8.05
15,15,Tabuk,PH,2022-04-18 04:18:42,17.4189,121.4443,87.24,55,80,3.38
21,21,Lorengau,PG,2022-04-18 04:18:43,-2.0226,147.2712,84.31,75,66,6.62
28,28,Carnarvon,AU,2022-04-18 04:18:45,-24.8667,113.6333,77.07,61,91,11.50
29,29,Cabo San Lucas,MX,2022-04-18 04:16:33,22.8909,-109.9124,76.51,64,98,5.99
33,33,Road Town,VG,2022-04-18 04:18:46,18.4167,-64.6167,78.89,78,100,23.51

In [20]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Atuona      PF     79.45  -9.8000 -139.0333
1           Dingle      PH     86.65  10.9995  122.6711
3          Rikitea      PF     78.46 -23.1203 -134.9692
7       Butaritari      KI     81.75   3.0707  172.7902
8         Umm Lajj      SA     85.30  25.0213   37.2685
15           Tabuk      PH     87.24  17.4189  121.4443
21        Lorengau      PG     84.31  -2.0226  147.2712
28       Carnarvon      AU     77.07 -24.8667  113.6333
29  Cabo San Lucas      MX     76.51  22.8909 -109.9124
33       Road Town      VG     78.89  18.4167  -64.6167

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,79.45,-9.8000,-139.0333,Villa Enata
1,Dingle,PH,86.65,10.9995,122.6711,SEGAYA PROPERTY
3,Rikitea,PF,78.46,-23.1203,-134.9692,People ThankYou
7,Butaritari,KI,81.75,3.0707,172.7902,Isles Sunset Lodge
8,Umm Lajj,SA,85.30,25.0213,37.2685,Moon light Furnished Units
15,Tabuk,PH,87.24,17.4189,121.4443,Golden Berries Hotel and Convention
21,Lorengau,PG,84.31,-2.0226,147.2712,Lorengau Harbourside Hotel
28,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
29,Cabo San Lucas,MX,76.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
33,Road Town,VG,78.89,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))